@import './../../theme/variables';
@import './../../theme/mixins';

.book-room-card__guests,
.book-room-card__date {
    margin-bottom: 20px;
}

.book-room-card__price-list {
    margin-bottom: 30px;
}

.book-room-card__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    font-family: $font__titles;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $color__dark-shade100;
}

.book-room-card__total-value {
    flex-grow: 1;
    display: flex;

    &::before { // border
        content: '';

        flex-grow: 1;
        height: 19px;
        margin: 0 5px;

        border-bottom: 1px dashed $color__dark-shade25;
    }

    &::after {
        content: '₽';
    }
}
