include ./../btn/btn
include ./../dropdown-guests/dropdown-guests
include ./../price-list/price-list

mixin book-room-card(params)
    -
        const {
            roomNumber,
            roomType,
            roomPrice,
            priceList = [],
            total,
        } = params;

        const { numberWithSpaces } = require('./../utils');

    div.book-room-card.card
        div.book-room-card__room-info
            h2.book-room-card__room-number.title= roomNumber
            span.book-room-card__room-type= roomType
            span.book-room-card__room-price
                span.book-room-card__room-price-value= numberWithSpaces(roomPrice)
                |  в сутки
        div.book-room-card__date
            +c-datepicker({
              range: true,
              twoFields: true,
              fields: [
                'Прибытие',
                'Выезд',
              ],
            })
        div.book-room-card__guests
            +dropdown-guests()
        div.book-room-card__price-list
            +price-list(priceList)
        div.book-room-card__total
            span Итого
            span.book-room-card__total-border
            span.book-room-card__total-value= numberWithSpaces(total)
        div.book-room-card__submit
            +btn({
              label: 'Забронировать',
              arrow: true,
            })
