extends ../../layout/blank

include ../../components/field/field
include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/toggle-input/toggle-input
include ../../components/like-btn/like-btn
include ../../components/rate-btn/rate-btn
include ../../components/range-slider/range-slider
include ../../components/btn/btn
include ../../components/dropdown-furniture/dropdown-furniture
include ../../components/dropdown-guests/dropdown-guests
include ../../components/checkbox-list/checkbox-list
include ../../components/bullet-list/bullet-list
include ../../components/icon-text-list/icon-text-list
include ../../components/review/review
include ../../components/c-datepicker/c-datepicker
include ../../components/pick-room-card/pick-room-card
include ../../components/book-room-card/book-room-card
include ../../components/register-form/register-form
include ../../components/login-form/login-form
include ../../components/room-info-card/room-info-card
include ../../components/navbar/navbar
include ../../components/site-footer/site-footer
include ../../components/pagination/pagination

block variables
    -
        const title = 'UI kit';
        const description = 'UI kit';
        const pageClass = 'ui-kit-page';

block content
    div.ui-kit-page__form-elements.container
        h1.ui-kit-page__title.title= title

        div.ui-kit-page__row
            div.ui-kit-page__col
                div
                    +field({
                      type: 'email',
                      label: 'Text field',
                      placeholder: 'Email',
                    })

                div
                    +field({
                      type: 'email',
                      label: 'Subscription text field',
                      placeholder: 'Email',
                      arrowIcon: true,
                    })

                div
                    +field({
                      label: 'Masked text field',
                      masked: 'date',
                      placeholder: 'ДД.ММ.ГГГГ',
                    })

                div
                    +c-datepicker({
                      range: true,
                      twoFields: true,
                      fields: [
                        'Прибытие',
                        'Выезд',
                      ],
                    })

                div
                    +c-datepicker({
                      range: true,
                      label: 'Filter date dropdown',
                    })

                div
                    +c-datepicker({label: 'Выберите дату'})

                div
                    p.title.title--3 Rich checkbox buttons
                    +checkbox({
                      label: 'Широкий коридор',
                      name: 'test',
                      description: 'Ширина коридоров в номере не менее 91 см.',
                    })
                    +checkbox({
                      label: 'Помощник для инвалидов',
                      name: 'test2',
                      description: 'На 1 этаже вас встретит специалист  и проводит до номера.',
                    })

            div.ui-kit-page__col
                div
                    p.title.title--3 Checkbox Buttons
                    +checkbox({
                        label: 'Можно курить',
                        name: 'test1',
                    })
                    +checkbox({
                      label: 'Можно с питомцами',
                      name: 'test2',
                      checked: true,
                    })
                    +checkbox({
                      label: 'Можно пригласить гостей (до 10 человек)',
                      name: 'test3',
                      checked: true,
                    })

                div
                    p.title.title--3 Radio Buttons
                    +radio({
                      name: 'gender',
                      inputs: [
                        {value: 'man', label: 'Мужчина'},
                        {value: 'woman', label: 'Женщина'},
                      ],
                    })

                div
                    p.title.title--3 Toggle
                    +toggleInput({
                      label: 'Получать спецпредложения',
                    })

                div
                    p.title.title--3 Like button
                    +likeBtn(2)
                    +likeBtn(12, true)

                div
                    p.title.title--3 Rate button
                    +rateBtn(4)
                    br
                    +rateBtn(5)

                div
                    +bullet-list({
                      title: 'Bullet list',
                      items: [
                        'Нельзя с питомцами',
                        'Без вечеринок и мероприятий',
                        'Время прибытия — после 13:00, а выезд до 12:00',
                      ],
                    })

            div.ui-kit-page__col
                div
                    +range-slider({
                      label: 'Range Slider',
                      from: 0,
                      to: 20000,
                      minValue: 5000,
                      maxValue: 10000,
                    })

                div
                    p.title.title--3 Buttons
                    +btn({
                      label: 'Button',
                      type: 'button',
                    })
                    br
                    +btn({
                      label: 'Light button',
                      type: 'button',
                      light: true,
                    })
                    br
                    +btn({
                      label: 'Link',
                      href: '/ui-kit.html',
                    })
                    br
                    +btn({
                      label: 'Link style button',
                      type: 'button',
                      linkStyle: true,
                    })
                    br
                    +btn({
                      label: 'Link style button',
                      type: 'button',
                      linkStyle: true,
                      gray: true,
                    })
                    br
                    +btn({
                      label: 'Block button with arrow',
                      type: 'button',
                      blockArrow: true,
                    })

                div
                    p.title.title--3 Pagination
                    +pagination({ pagesCount: 12, activePage: 2 })

                div
                    +dropdown-furniture()

                div
                    +dropdown-guests()

                div
                    +checkbox-list({
                      title: 'Expandable checkbox list',
                      expandable: true,
                      items: [
                        {label: 'Завтрак', name: 'breakfast'},
                        {label: 'Письменный стол', name: 'desk'},
                        {label: 'Стул для кормления', name: 'highchair'},
                        {label: 'Кроватка', name: 'crib'},
                        {label: 'Телевизор', name: 'tv'},
                        {label: 'Шампунь', name: 'shampoo'},
                        {label: 'Телевизор', name: 'tv'},
                        {label: 'Шампунь', name: 'shampoo'}
                      ],
                    })

                div
                    +icon-text-list([{
                      icon: 'insert_emoticon',
                      title: 'Комфорт',
                      description: 'Шумопоглощающие стены',
                    }, {
                      icon: 'location_city',
                      title: 'Удобство',
                      description: 'Окно в каждой из спален',
                    }])

        div
            +review({
              name: 'Имярек',
              date: '2019-08-11',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
              likes: 12,
              image: 'user1',
            })

    div.ui-kit-page__cards
        div.ui-kit-page__cards-container.container
            +pick-room-card()
            +register-form()
            +book-room-card({
              roomNumber: 888,
              roomType: 'Люкс',
              roomPrice: 9990,
              total: 38081,
              priceList: [{
                name:  '9 990₽ х 4 суток',
                price: 39960,
              }, {
                name:  'Сбор за услуги: скидка 2 179₽',
                price: 0,
                description: 'Lorem ipsum',
              }, {
                name: 'Сбор за дополнительные услуги',
                price: 300,
                description: 'Lorem ipsum',
              }],
            })
            +login-form()
            +room-info-card({
                number: 888,
                type: 'Люкс',
                price: 9990,
                photos: ['room-1', 'room-2'],
                reviewsCount: 145,
                rating: 5,
            })
            +room-info-card({
              number: 840,
              type: '',
              price: 9900,
              photos: ['room-2', 'room-1'],
              reviewsCount: 65,
              rating: 4,
            })

    div.ui-kit-page__sections
        +navbar({
            isLoggedIn: true,
            userName: 'Cosmin Negoita',
            menuItems: [
                {label: 'Home', href: '#', isActive: true},
                {label: 'About Us', href: '#',},
                {label: 'Services', href: '#'},
                {label: 'Careers', href: '#'},
                {label: 'News', href: '#'},
                {label: 'Documentation', href: '#'}
            ],
        })
        +navbar({
            isLoggedIn: false,
            menuItems: [
                { label: 'Home', href: '#', isActive: true },
                { label: 'About Us', href: '#' },
                {
                    label: 'Services',
                    href: '#',
                    submenu: [
                        { label: 'Test', href: '#' },
                        { label: 'Test', href: '#' }
                    ],
                },
                { label: 'Careers', href: '#' },
                { label: 'News', href: '#' },
                { label: 'Documentation', href: '#' }
            ],
        })
        +site-footer()
        +site-footer({light: true})
