@import './../../theme/variables';

.btn {
    position: relative; // btn__label

    display: inline-block;
    padding: 0;

    font-family: $font__main;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;

    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;

    transition: all .1s;

    #{$hover} {
        opacity: .5;
    }

    &--light {
        position: relative; // .btn__content::before (border)
        z-index: 0;

        color: $color__purple;

        .btn__content {
            padding: 12px 18px;

            background: white;
            background-clip: padding-box;

            &::before { // Gradient border
                content: '';

                position: absolute;
                top: -2px;
                left: -2px;
                z-index: -1;

                width: calc(100% + 4px);
                height: calc(100% + 4px);

                background: $gradient__primary;
                border-radius: 22px;
            }
        }

        #{$hover} {
            opacity: 1;

            .btn__content::before {
                opacity: .5;
            }
        }
    }

    &--link-style {
        color: $color__purple;

        .btn__content {
            padding: 0;
            background: none;
        }

        #{$hover} {
            opacity: 1;
            color: $color__dark-shade50;
        }
    }

    &--gray {
        color: $color__dark-shade50;
    }

    &--block-arrow {
        position: relative; // .btn__arrow
        width: 100%;
        text-align: center;
    }
}

.btn__content { // additional container for z-index
    padding: 14px 20px;

    background: $gradient__primary;
    border-radius: 22px;
}

.btn__arrow {
    display: none;

    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    font-size: 24px;
    line-height: 24px;
}
.btn--block-arrow .btn__arrow {
    display: block;
}
