@import './../../theme/variables';

.toggle-input {

}

.toggle-input__label {
    display: flex;
    align-items: center;

    color: $color__text-main;
}

.toggle-input__toggle-box {
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
    padding: 3px;

    border: 1px solid $color__dark-shade25;
    border-radius: 10px;

    &::before { // Circle in toggle input
        content: '';

        display: block;
        width: 12px;
        height: 12px;

        background: $color__dark-shade25;
        border-radius: 50%;
    }
}
.toggle-input__checkbox:checked + .toggle-input__toggle-box {
    border-color: $color__purple;

    &::before {
        margin-left: auto;
        background: $gradient__primary;
    }
}
