extend ./../../layout/main.pug

block variables
    - const title = 'form template page';
    - const description = '';
    - const pageClass = 'form-page-template';

block content
    div.form-page-template__bg
        block form
