.login-form__email {
    margin-bottom: 10px;
}

.login-form__password {
    margin-bottom: 20px;
}

.login-form__subscribe {
    margin-bottom: 30px;
}

.login-form__register {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
