include ./../field/field
include ./../btn/btn

mixin login-form()
    div.login-form.card
        h2.title Войти
        form
            div.login-form__email
                +field({
                  label: 'Email',
                  hideLabel: true,
                  type: 'email',
                  nameAttr: 'email',
                  autocomplete: 'username',
                })
            div.login-form__password
                +field({
                  label: 'Пароль',
                  hideLabel: true,
                  type: 'password',
                  nameAttr: 'password',
                  autocomplete: 'current-password',
                })
            div.login-form__subscribe
                +btn({
                  label: 'Войти',
                  blockArrow: true,
                })
            div.login-form__register
                span Нет аккаунта на Toxin?
                +btn({
                  label: 'Создать',
                  type: 'button',
                  light: true,
                })
