include ./../checkbox/checkbox

mixin checkbox-list(params)
    - const { title, expandable, items } = params;
    - const expandableMod = expandable ? 'checkbox-list--expandable' : '';

    div(
        class=`checkbox-list ${expandableMod}`
        aria-expanded='true'
    )
        p.checkbox-list__title.title.title--3
            span= title
            if (expandable)
                i.checkbox-list__more-icon.material-icons expand_more
        ul.checkbox-list__list
            for item in items
                li.checkbox-list__item
                    +checkbox(item)
