@import './../../theme/variables';

.home-page__bg {
    background-image: url('home-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media #{$media__desktop} {
        background-image: url('home-bg@2x.jpg');
    }
}

.home-page__container {
    position: relative; // title
    padding: 70px 0 386px;
}

.home-page__title {
    position: absolute;
    right: 0;
    bottom: 18px;

    margin: 0;

    width: 297px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
}
