@import 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: $font__main;
    font-size: 14px;
    line-height: 24px;
    color: $color__text-main
}

body {
    margin: 30px auto 400px;
}

.visuallyhidden/*:not(:focus):not(:active)*/ {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// TODO вынести отдельно
.title { // Subsection or widget
    margin-top: 0;

    font-family: $font__titles;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $color__text-title;

    &--2 { // Item title inside widgets
        font-size: 19px;
        line-height: 24px;
    }

    &--3,
    &--cta,
    &--label { // Label or CTA text
        margin-bottom: 5px;

        font-family: $font__main;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &--label { // With margin does not get a click between label and field
        margin-bottom: 0;
        padding-bottom: 5px;
    }
}

.hidden {
    display: none;
}

.container {
    max-width: 1060px;
    width: calc(100% - 16px);
    margin-left: auto;
    margin-right: auto;

    @media #{$media__tablet} {
        width: calc(100% - 48px);
    }
}
