@import 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $font__main;
    font-size: 14px;
    line-height: 24px;
}

.visuallyhidden/*:not(:focus):not(:active)*/ {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// TODO вынести отдельно
.title { // Subsection or widget
    font-family: $font__titles;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $color__text-title;

    &--2 { // Item title inside widgets
        font-size: 19px;
        line-height: 24px;
    }

    &--3,
    &--cta,
    &--label { // Label or CTA text
        font-family: $font__main;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
}
