@import './variables';

//noinspection CssInvalidPropertyValue
@mixin gradient-color($gradient) {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;

        background: $gradient;
        background-clip: text;
    }
}

@mixin reset-button() {
    margin: 0;
    padding: 0;

    font: inherit;
    line-height: 1;
    letter-spacing: inherit;
    text-align: center;
    color: inherit;

    background: none;
    border: none;

    #{$hover} {
        background: none;
        border: none;
    }
}

@mixin reset-list() {
    margin: 0;
    padding: 0;
    list-style: none;
}
