extends ../layout/main

include ../components/field/field
include ../components/checkbox/checkbox
include ../components/radio/radio
include ../components/toggle-input/toggle-input
include ../components/like-btn/like-btn
include ../components/rate-btn/rate-btn
include ../components/range-slider/range-slider
include ../components/btn/btn
include ../components/dropdown/dropdown
include ../components/checkbox-list/checkbox-list
include ../components/bullet-list/bullet-list
include ../components/icon-text-list/icon-text-list
include ../components/testimonial/testimonial
include ../components/c-datepicker/c-datepicker

block variables
    -
        const title = 'UI kit';
        const description = 'UI kit';
        const pageClass = 'ui-kit-page';

block content
    h1.title= title

    div
        +field({
            type: 'email',
            label: 'Text field',
            placeholder: 'Email',
        })

    div
        +checkbox({
            label: 'Checkbox',
            name: 'test',
        })

    div
        +checkbox({
            label: 'Checkbox',
            name: 'test',
            description: 'testtest',
        })

    div
        +radio({
            name: 'gender',
            inputs: [
                {value: 'man', label: 'Мужчина'},
                {value: 'woman', label: 'Женщина'},
            ],
        })
    div
        +toggleInput({
            label: 'Toggle button',
        })

    div
        +likeBtn(12)
        +likeBtn(2, true)
        +likeBtn(3)

    div
        +rateBtn(4)
        +rateBtn(2)

    div
        +rangeSlider({
            label: 'Range Slider',
            from: 5000,
            to: 10000,
            minValue: 6000,
            maxValue: 7080,
        })

    div
        +rangeSlider({
            label: 'Range Slider',
            from: 0,
            to: 245,
            minValue: 0,
            maxValue: 0,
        })

    div
        +btn({
            label: 'Button',
            type: 'button',
        })
        +btn({
            label: 'Light button',
            type: 'button',
            className: 'test',
            light: true,
        })
        +btn({
            label: 'Link button',
            href: '/ui-kit.html',
            type: 'link',
        })
        +btn({
            label: 'Link style',
            type: 'button',
            linkStyle: true,
        })
        +btn({
            label: 'Button with arrow',
            type: 'button',
            arrow: true,
        })

    div
        +dropdown({
            separate: true,
            initialSelectionText: 'Сколько мебели?',
            items: [{
                dataId: 'bedroom',
                label: 'Спальни',
                noun: {
                    one: 'спальня',
                    two: 'спальни',
                    five: 'спален',
                },
            }, {
                dataId: 'bed',
                label: 'Кровати',
                noun: {
                    one: 'кровать',
                    two: 'кровати',
                    five: 'кроватей',
                },
            }, {
                dataId: 'bathroom',
                label: 'Ванные комнаты',
                noun: {
                    one: 'ванная комната',
                    two: 'ванных комнаты',
                    five: 'ванных комнат',
                },
            }],
        })
        +dropdown({
            separate: false,
            initialSelectionText: 'Сколько гостей?',
            controls: true,
            noun: {
                one: 'гость',
                two: 'гостя',
                five: 'гостей',
            },
            items: [{
                dataId: 'adult',
                label: 'Взрослые',
            }, {
                dataId: 'child',
                label: 'Дети',
            }],
        })

    div
        +checkbox-list({
            title: 'Expandable checkbox list',
            expandable: true,
            items: [{
                label: 'Завтрак',
                name: 'breakfast',
            }, {
                label: 'Письменный стол',
                name: 'desk',
            }, {
                label: 'Стул для кормления',
                name: 'highchair',
            }, {
                label: 'Кроватка',
                name: 'crib',
            }, {
                label: 'Телевизор',
                name: 'tv',
            }, {
                label: 'Шампунь',
                name: 'shampoo',
            }, {
                label: 'Телевизор',
                name: 'tv',
            }, {
                label: 'Шампунь',
                name: 'shampoo',
            }],
        })

    div
        +bullet-list({
            title: 'bullet list',
            items: [
                'Нельзя с питомцами',
                'Без вечеринок и мероприятий',
                'Время прибытия — после 13:00, а выезд до 12:00',
            ],
        })

    div
        +icon-text-list([{
            icon: 'insert_emoticon',
            title: 'Комфорт',
            description: 'Шумопоглощающие стены',
        }, {
            icon: 'location_city',
            title: 'Удобство',
            description: 'Окно в каждой из спален',
        }])

    div
        +testimonial({
            name: 'Имярек',
            date: '2019-08-11',
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            likes: 12,
            imageUrl: 'assets/img/user1.jpg',
            imageUrlRetina: 'assets/img/user1@2x.jpg',
        })

    div
        +c-datepicker({
            twoFields: true,
            fields: [
                {
                    label: 'Прибытие',
                    name: 'arrival',
                },
                {
                    label: 'Выезд',
                    name: 'departure',
                },
            ],
        })
        //+c-datepicker({
        //    date: '2019-08-19',
        //})
