extends ../layout/main

include ../components/field/field
include ../components/checkbox/checkbox
include ../components/radio/radio
include ../components/toggle-input/toggle-input
include ../components/like-btn/like-btn
include ../components/rate-btn/rate-btn
include ../components/range-slider/range-slider
include ../components/btn/btn
include ../components/dropdown/dropdown

block variables
    -
        const title = 'UI kit';
        const description = 'UI kit';
        const pageClass = 'ui-kit-page';

block content
    h1.title= title

    div
        +field({
            type: 'email',
            label: 'Text field',
            placeholder: 'Email',
        })

    div
        +checkbox({
            label: 'Checkbox',
            name: 'test',
        })

    div
        +radio({
            name: 'gender',
            inputs: [
                {value: 'man', label: 'Мужчина'},
                {value: 'woman', label: 'Женщина'},
            ],
        })
    div
        +toggleInput({
            label: 'Toggle button',
        })

    div
        +likeBtn(12)
        +likeBtn(2, true)
        +likeBtn(3)

    div
        +rateBtn(4)
        +rateBtn(2)

    div
        +rangeSlider({
            label: 'Range Slider',
            from: 5000,
            to: 10000,
            minValue: 6000,
            maxValue: 7080,
        })

    div
        +rangeSlider({
            label: 'Range Slider',
            from: 0,
            to: 245,
            minValue: 0,
            maxValue: 0,
        })

    div
        +btn({
            label: 'Button',
            type: 'button',
        })
        +btn({
            label: 'Light button',
            type: 'button',
            className: 'test',
            light: true,
        })
        +btn({
            label: 'Link button',
            href: '/ui-kit.html',
            type: 'link',
        })
        +btn({
            label: 'Link style',
            type: 'button',
            linkStyle: true,
        })
        +btn({
            label: 'Button with arrow',
            type: 'button',
            arrow: true,
        })

    div
        +dropdown({
            separate: true,
            initialSelectionText: 'Сколько мебели?',
            items: [{
                dataId: 'bedroom',
                label: 'Спальни',
                noun: {
                    one: 'спальня',
                    two: 'спальни',
                    five: 'спален',
                },
            }, {
                dataId: 'bed',
                label: 'Кровати',
                noun: {
                    one: 'кровать',
                    two: 'кровати',
                    five: 'кроватей',
                },
            }, {
                dataId: 'bathroom',
                label: 'Ванные комнаты',
                noun: {
                    one: 'ванная комната',
                    two: 'ванных комнаты',
                    five: 'ванных комнат',
                },
            }],
        })
        +dropdown({
            separate: false,
            initialSelectionText: 'Сколько гостей?',
            controls: true,
            noun: {
                one: 'гость',
                two: 'гостя',
                five: 'гостей',
            },
            items: [{
                dataId: 'adult',
                label: 'Взрослые',
            }, {
                dataId: 'child',
                label: 'Дети',
            }],
        })
