@import './../../theme/variables';
@import './../../theme/mixins';

.field {
    &--arrow-icon {
        .field__input {
            padding-right: 44px;
        }

        .field__arrow-icon {
            display: inline-block;
        }
    }
}

.field__container {
    position: relative; // arrow icon
}

.field__input {
    width: 100%;
    max-width: 320px;
    padding: 13px 15px;

    font-size: 14px;
    line-height: 18px;
    color: $color__dark-shade75;

    border: 1px solid $color__dark-shade25;
    border-radius: 4px;

    &::placeholder {
        color: $color__dark-shade25;
    }

    #{$hover} {
        border: 1px solid $color__dark-shade50;
    }
}

.field__arrow-icon {
    @include gradient-color($gradient__primary);

    position: absolute;
    right: 12px;
    bottom: -2px;

    display: none;
    font-size: 24px;
}
