@import './../../theme/variables';
@import './../../theme/mixins';

.navbar {
    background: #FFFFFF;
    box-shadow: $shadow__light;
}

.navbar__container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'brand menu'
        'user menu';
    min-height: 70px;
    padding: 14px 0;

    @media #{$media__tablet} {
        grid-template-areas:
            'brand menu'
            'user .';
        align-items: center;
    }

    @media #{$media__desktop} {
        grid-template-areas: 'brand menu user';
        grid-template-columns: auto 1fr auto;
        grid-gap: 30px;
    }
}

.navbar__brand {
    grid-area: brand;
    display: inline-block;
    margin-right: auto;
}

.navbar__brand-link {
    display: flex;
    align-items: center;

    #{$hover} {
        opacity: 0.8;
    }
}

.navbar__logo {
    height: 40px;
}

.navbar__menu {
    justify-self: end;
    grid-area: menu;
}

.navbar__menu-list {
    @include reset-list();

    display: grid;
    grid-gap: 6px;

    @media #{$media__tablet} {
        grid-auto-flow: column;
        grid-gap: 12px;
    }

    @media #{$media__desktop} {
        grid-gap: 22px;
    }
}

.navbar__menu-item {
    text-align: right;

    @media #{$media__tablet} {
        text-align: left;
    }
}
.navbar__menu-item--active .navbar__menu-link {
    font-weight: bold;
}

.navbar__menu-link {
    @include reset-link();
    @include set-link-color($color__dark-shade50, $color__dark-shade75);
    padding: 4px;
}

.navbar__submenu {
    @include reset-list();
    display: none;
}

.navbar__user {
    grid-area: user;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: start;
    align-content: end;
    align-items: center; // fix button border bug

    font-size: 14px;
    color: $color__dark-shade50;

    @media #{$media__desktop} {
        grid-gap: 20px;
    }

    &--is-logged-in {
        margin-left: 10px;

        @media #{$media__tablet} {
            margin-left: 0;
        }

        @media #{$media__desktop} {
            position: relative; // line
            padding-left: 30px;

            &::before { // line
                content: '';

                position: absolute;
                left: 0;
                top: -3px;

                width: 1px;
                height: 30px;

                background: $color__dark-shade10;
            }
        }
    }
}
