@import './../../theme/variables';

.checkbox__container {
    display: flex;
    cursor: pointer;
}

.checkbox__label {
    font-size: 14px;
    line-height: 18px;
    color: $color__dark-shade50;
}
.checkbox--rich .checkbox__label {
    margin-bottom: 5px;

    font-weight: bold;
    color: $color__dark-shade75;
}

.checkbox__input {
    #{$hover} {
        & + .checkbox__custom-box {
            border-color: $color__purple;
        }
    }

    &:checked {
        & + .checkbox__custom-box {
            border-color: $color__purple;
        }

        & + .checkbox__custom-box > .checkbox__check-icon {
            display: block;
        }
    }
}

.checkbox__custom-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;

    border: 1px solid $color__dark-shade25;
    border-radius: 4px;

    transition: border-color .2s;
}

.checkbox__check-icon {
    display: none;
    font-size: 10px;
}

.checkbox__description {
    margin: 0;

    font-size: 12px;
    line-height: 14px;

    color: $color__dark-shade50;
}
