mixin bullet-list(params)
    - const { title, items, withMargins, voteColored } = params;
    - const withMarginsMod = (withMargins) ? 'bullet-list--with-margins' : '';
    - const voteColoredMod = (voteColored) ? 'bullet-list--vote-colored' : '';

    div(class=`bullet-list ${withMarginsMod} ${voteColoredMod}`)
        if title
            p.bullet-list__title.title.title--label= title

        ul.bullet-list__list
            for item in items
                li.bullet-list__item= item
