@import './../../theme/variables';

.c-datepicker {

}

.c-datepicker__output {
    position: relative;

    max-width: 320px;
    display: flex;
}

.c-datepicker__input,
.c-datepicker__start,
.c-datepicker__end {
    display: block;
    width: 150px;
    padding: 12px 32px 8px 15px;

    background: #fff;
    border: 1px solid $color__dark-shade25;
    border-radius: 4px;

    font-size: 14px;
    line-height: 24px;

    color: $color__dark-shade75;
}

.c-datepicker__input-label {
    width: 100%;
}

.c-datepicker__input {
    width: 100%;
}

.c-datepicker[data-two-fields='true'] .c-datepicker__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    color: transparent;

    background: transparent;
    border: none;
}

.c-datepicker__start-label {
    position: relative; // icon
    margin-right: 20px;

    &:last-child { // if one field
        margin-right: 0;
    }
}

.c-datepicker__end-label {
    position: relative; // icon
}

.c-datepicker__more-icon {
    position: absolute;

    right: 8px;
    bottom: 10px;

    font-size: 24px;
    line-height: 24px;
    color: $color__dark-shade50;
}

.c-datepicker__controls {
    display: flex;
    margin-top: 20px;
}

.c-datepicker__apply {
    margin-left: auto;
}

/* air-datepicker */

.datepicker {
    width: 320px;
    font-family: $font__main;
    box-shadow: 0 10px 20px $color__dark-shade5;
}

.datepicker--nav {
    padding: 20px 20px 4px;
    border-bottom: none;
}

.datepicker--nav-title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $color__dark-shade100;

    i {
        color: inherit;
    }
}

.datepicker--content {
    padding: 21px;
}

.datepicker--day-name {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: $color__purple;
}

.datepicker--cell {
    position: relative; // Second bg for cells
    z-index: 1; // Default z-index

    height: 40px;

    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: $color__dark-shade50;
    border: none;

    &.-focus-,
    &.-selected- {
        color: white;
        background: $gradient__primary;
        border-radius: 50%;
    }

    &.-current- {
        color: white;
        background: $gradient__secondary;
        border-radius: 50%;

        &.-in-range- {
            color: inherit;
        }

        &.-focus-,
        &.-in-range-,
        &.-focus-.-in-range- {
            background: $color__dark-shade10;
            border-radius: 50%;
        }
    }

    &.-in-range-.-other-month-,
    &.-in-range- {
        background: none;
        color: inherit;
        border-radius: 0;

        &.-focus- {
            background: none;
        }
    }

    &.-in-range-.-other-month-,
    &.-in-range-,
    &.-range-from-,
    &.-range-to- {
        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            width: 100%;
            height: 100%;

            background: $color__dark-shade5;
        }
    }

    &.-range-from-,
    &.-range-from-.-other-month-,
    &.-range-to-,
    &.-range-to-.-other-month- {
        color: white;
        background: $gradient__primary;
        border: none;
        border-radius: 50%;
    }

    &.-range-from- {
        &::before {
            border-radius: 50% 0 0 50%;
        }

        // When choosing second date
        // Bug when try reselect range
        &.-focus-.-selected-::before {
            border-radius: 50%;
        }
    }

    &.-range-to- {
        &::before {
            border-radius: 0 50% 50% 0;
        }
    }


    &.-selected- {
        color: #fff;
        border: none;
        background: $gradient__primary;

        &.-current- {
            color: white;
            background: $gradient__primary;
        }

        &.-focus- {
            background: $gradient__primary;
        }
    }

    &.-other-month- {
        color: $color__dark-shade25;
    }
}

.datepicker--nav-action {
    font-size: 24px;
    line-height: 20px;
    color: $color__purple;

    > svg {
        display: none; // Add arrows in JS
    }
}
