@import './../../theme/variables';

.pick-room-card {

}

.pick-room-card__title {
    padding-right: 24px;
}

.pick-room-card__date {
    margin-bottom: 20px;
}

.pick-room-card__guests {
    margin-bottom: 30px;
}
